name: Python wheels

on: [push, pull_request]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04, windows-2019, macOS-11]

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'recursive'

      - name: Setup Ninja Windows
        if: runner.os == 'Windows'
        shell: bash
        run: |
          choco install ninja
          echo CMAKE_GENERATOR=Ninja >> $GITHUB_ENV

      - name: Setup msvc Windows
        if: runner.os == 'Windows'
        uses: TheMrMilchmann/setup-msvc-dev@v2
        with:
          arch: x64

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.13.1
        with:
          package-dir: ${{github.workspace}}
          output-dir: ${{github.workspace}}/wheelhouse
          config-file: ${{github.workspace}}/pyproject.toml

      - uses: actions/upload-artifact@v3
        with:
          path: ./wheelhouse/*.whl
